@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
  font-family: Akzidenz-Grotesk Pro;
  font-weight: 500;
  src: url(fonts/Akzidenz-Grotesk-Pro/AkzidenzGroteskPro-MdEx.woff) format("woff");
  src: url(fonts/Akzidenz-Grotesk-Pro/AkzidenzGroteskPro-MdEx.woff2) format("woff2");
}
  @font-face {
    font-family:Manrope;
    font-weight: 600;
    src: url(fonts/Manrope/Manrope-SemiBold.ttf);
  }
  @font-face {
    font-family: Manrope;
    font-weight: 700;
    src: url(fonts/Manrope/Manrope-Bold.ttf);
  }

  :root{
    --font-akzidenz:Akzidenz-Grotesk Pro;
    --font-manrope:Manrope;

    --radial-gradient-type-1: radial-gradient(50% 50.00% at 50% 50.00%, rgba(234, 16, 16, 1), rgba(234, 16, 16, 0));
    --radial-gradient-type-2: radial-gradient(50% 50.00% at 50% 50.00%, rgba(16, 234, 181, 1), rgba(16, 234, 181, 0));

    --accent: 16, 234, 181;
  }
  html[data-theme='default'] {
    --background-primary: 13, 26, 37;
    --background-secondary: 82, 100, 118;

    --text-primary: 255, 255, 255;
    --text-secondary: 188, 204, 223;
    --text-highlighted: 16, 234, 181;

    --input-icon-active: 82, 100, 118;
    --input-icon-disabled: 37, 49, 59;
    --input-border-active: 245, 245, 245;
    --input-border-disabled: 82, 100, 118;

  }

  html[data-theme='light'] {
    --background-primary: 248, 250, 253 ;
    --background-secondary: 232, 238, 243;

    --text-primary: 37, 49, 59;
    --text-secondary: 102, 106, 121;
    --text-highlighted: 44, 219, 176;

    --input-icon-active: 37, 49, 59;
    --input-icon-disabled: 148, 160, 172;
    --input-border-active: 199, 205, 213;
    --input-border-disabled: 232, 238, 243;

  }
}
