@function getColor($base, $opacity: 1) {
  @return rgba($base, $opacity);
}

//$base-color: #c6538c;
//
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//
//.body {
//  @include flex-center;
//  background: getColor(var(--background-primary));
//
//  .container {
//    background: $base-color;
//
//    &:hover {
//      background: blue;
//    }
//  }
//}
//
//.container {
//  background: #000;
//}

.body {
  background: getColor(var(--background-primary));
}

.auth-page {
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.auth-page__image-block {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-block__background {
  height: 100%;
  width: 700px;
}

.image-block__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.auth-page__content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  height: fit-content;
  padding: 0 95px;
}

.content__title {
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
  font-size: 40px;
  color: getColor(var(--text-primary));
}

.content__subtitle {
  margin-top: 6px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: getColor(var(--text-secondary));
}

.content__form {
  margin-top: 32px;
  width: 100%;
}

.form__item {
  display: block;
  position: relative;
  margin-top: 16px;
}

.input__field {
  height: 60px;
  width: 100%;
  padding-left: 48px;
  border-radius: 16px;
  border: solid 2px getColor(var(--input-icon-disabled));
  background: getColor(var(--background-primary));
  color: getColor(var(--input-text-form));

  &::placeholder {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: getColor(var(--text-primary));
  }

  &:hover {
    border-color: getColor(var(--background-secondary));
  }

  &:focus {
    border-color: getColor(var(--background-secondary));
    outline: none;
  }
}

.input__field:placeholder-shown ~ .input__label{
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px ;
}

.input__field:focus ~ .input__label{
  top: -5px;
  transform: translateY(0px);
  font-size: 12px;
}


.input__label {
  position: absolute;
  left: 44px;
  top: -5px;
  background: getColor(var(--background-primary));
  padding-left:4px;
  font-family: "Manrope",sans-serif;
  font-size: 12px;
  color: getColor(var(--text-primary));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.input__icon{
  position: absolute;
  left:20px;
  top: 50%;
  transform: translateY(-50%);
}

.input__button{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.button--outlined{
  margin-top: 50px;
  width: 108px;
  height: 50px;
  color:getColor(var(--text-secondary));
  font-size: 14px;
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
  background:getColor(var(--input-icon-disabled)) ;
  border:solid 2px getColor(var(--text-highlighted));
  border-radius: 16px;

  &:hover{
    background:getColor(var(--text-highlighted));
    color:getColor(var(--background-primary));
  }
}

.auth-page__footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin-top:40px;
  padding: 0 16px 20px 16px;
}

.account__message{
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color:getColor(var(--text-secondary));
}

.footer__page-switcher-link{
  color: getColor(var(--text-primary));
  border-bottom: solid 2px getColor(var(--text-highlighted));
}

.footer__theme-switcher{
  position: absolute;
  right: 10px;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}

.theme-switcher__input{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.theme-switcher__input:checked ~ .theme-switcher__default-theme-icon {
  .theme-default {
    opacity: 0.4;
  }

  .theme-switcher__light-theme-icon {
    opacity: 1;
  }

  &:after{
    left: 33px;
  }
}

.theme-switcher__default-theme-icon {
  position: relative;
  display: block;
  height: 28px;
  width: 60px;
  border-radius: 9999px;
  background:getColor(var(--input-icon-disabled)) ;

  &:after{
    position: absolute;
    left:3px;
    top:2px;
    height: 24px;
    width: 24px;
    border-radius: 9999px;
    border:solid 1px getColor(var(--text-highlighted));
    background-color: transparent;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    content: var(--tw-content);
  }
}



.theme-default{
  position: absolute;
  left: 9px;
  top:8px;
  color: getColor(var(--text-primary));
  transition: opacity .3s ease-in-out;
}

.theme-switcher__light-theme-icon{
  position: absolute;
  right: 6px;
  top:5px;
  color: getColor(var(--text-primary));
  transition: opacity .3s ease-in-out;
  opacity: 0.4;
}

.decor{
  position: absolute;
}

