@function getColor($base, $opacity: 1) {
  @return rgba($base, $opacity);
}

//$base-color: #c6538c;
//
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//
//.body {
//  @include flex-center;
//  background: getColor(var(--background-primary));
//
//  .container {
//    background: $base-color;
//
//    &:hover {
//      background: blue;
//    }
//  }
//}
//
//.container {
//  background: #000;
//}

.body {
  background: getColor(var(--background-primary));
}

.auth-page {
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.auth-page__image-block {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 375px) {
    height: 180px;
  }

  @media (min-width: 576px) {
    height: 280px;
  }

  @media (min-width: 768px) {
    height: 370px;
  }

  @media (min-width: 992px) {
    height: 100%;
    width: 496px;
  }

  @media (min-width: 1200px) {
    width: 570px;
  }

  @media (min-width: 1440px) {
    width: 700px;
  }

  @media (min-width: 1920px) {
    width: 840px;
  }
}

.image-block__background {
  height: 100%;
  width: 840px;
}

.image-block__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 160px;

  @media (min-width: 1920px) {
    width: 240px;
  }

  @media (min-width: 576px) {
    width: 120px;
  }

  @media (min-width: 320px) {
    width: 78px;
  }
}

.auth-page__content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__form_wrapper {
  height: fit-content;
  margin: auto 95px;
}

.content__title {
  font-family: var(--font-akzidenz);
  font-size: 40px;
  color: getColor(var(--text-primary));
}

.content__subtitle {
  margin-top: 6px;
  font-family: var(--font-manrope);
  font-size: 20px;
  color: getColor(var(--text-secondary));
}

.content__form {
  margin-top: 32px;
  width: 100%;
}

.form__item {
  display: block;
  position: relative;
  margin-top: 16px;
}

.input__field {
  height: 60px;
  width: 100%;
  padding-left: 48px;
  border-radius: 16px;
  border: solid 2px getColor(var(--input-icon-disabled));
  background: getColor(var(--background-primary));
  color: getColor(var(--input-text-form));
  transition: all 300ms ease-in-out;

  &::placeholder {
    font-family: var(--font-manrope);
    font-size: 16px;
    color: getColor(var(--text-primary));
  }

  &:hover {
    border-color: getColor(var(--background-secondary));
  }

  &:focus {
    border-color: getColor(var(--background-secondary));
    outline: none;
  }
}

.input__field:placeholder-shown ~ .input__label {
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.input__field:focus ~ .input__label {
  top: -5px;
  transform: translateY(0px);
  font-size: 12px;
}


.input__label {
  position: absolute;
  left: 44px;
  top: -5px;
  background: getColor(var(--background-primary));
  padding-left: 4px;
  font-family: var(--font-manrope);
  font-size: 12px;
  color: getColor(var(--text-primary));
  transition: all 300ms ease-in-out;
}

.input__icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.input__button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.button--outlined {
  margin-top: 50px;
  width: 108px;
  height: 50px;
  color: getColor(var(--text-secondary));
  font-size: 14px;
  font-family: var(--font-akzidenz);
  background: getColor(var(--background-button));
  border: solid 2px getColor(var(--text-highlighted));
  border-radius: 16px;
  //TODO: сделать переменной 300ms ease-in-out
  transition: all 300ms ease-in-out;

  &:hover {
    background: getColor(var(--text-highlighted));
    color: getColor(var(--background-primary));
  }
}

.auth-page__footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
  padding: 0 16px 20px 16px;
}

.account__message {
  font-family: var(--font-manrope);
  font-size: 14px;
  font-weight: 600;
  color: getColor(var(--text-secondary));
}

.footer__page-switcher-link {
  color: getColor(var(--text-primary));
  border-bottom: solid 2px getColor(var(--text-highlighted));
}

.footer__theme-switcher {
  position: absolute;
  right: 95px;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}

.theme-switcher__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.theme-switcher__input:checked ~ .theme-switcher__default-theme-icon {
  .theme-default {
    opacity: 0.4;
  }

  .theme-switcher__light-theme-icon {
    opacity: 1;
  }

  &:after {
    left: 33px;
  }
}

.theme-switcher__default-theme-icon {
  position: relative;
  display: block;
  height: 28px;
  width: 60px;
  border-radius: 9999px;
  background: getColor(var(--input-icon-disabled));

  &:after {
    position: absolute;
    left: 3px;
    top: 2px;
    height: 24px;
    width: 24px;
    border-radius: 9999px;
    border: solid 1px getColor(var(--text-highlighted));
    background-color: transparent;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    content: var(--tw-content);
  }
}


.theme-default {
  position: absolute;
  left: 9px;
  top: 8px;
  color: getColor(var(--text-primary));
  transition: opacity .3s ease-in-out;
}

.theme-switcher__light-theme-icon {
  position: absolute;
  right: 6px;
  top: 5px;
  color: getColor(var(--text-primary));
  transition: opacity .3s ease-in-out;
  opacity: 0.4;
}

.decor {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.decor__left-green{
  position: absolute;
  width: 534px;
  height: 534px;
  border-radius: 534px;
  left:-300px;
  top:-150px;
  background:var(--radial-gradient-type-2);
  opacity: 0.1;
}

.decor__left-red{
  position: absolute;
  width: 584px;
  height: 584px;
  border-radius: 584px;
  left:7px;
  top:-260px;
  background:var(--radial-gradient-type-1);
  opacity: 0.1;
}

.decor__right-green{
  position: absolute;
  width: 534px;
  height: 534px;
  border-radius: 534px;
  right:-300px;
  top:-150px;
  background:var(--radial-gradient-type-2);
  opacity: 0.1;
}

.decor__bottom-red{
  position: absolute;
  width: 584px;
  height: 584px;
  border-radius: 584px;
  right:-270px;
  bottom:-290px;
  background:var(--radial-gradient-type-1);
  opacity: 0.2;
}

.decor__bottom-green{
  position: absolute;
  width: 534px;
  height: 534px;
  border-radius: 534px;
  left:100px;
  bottom:-260px;
  background:var(--radial-gradient-type-2);
  opacity: 0.1;
}


